:root {
    --gray: rgb(210, 210, 210);
    --dark: rgb(25, 25, 25);
}

body {
    overflow: hidden;
    margin: 0;
    background-color: var(--dark);
}

#menu {
    width: 48px;
    height: 48px;
    margin: 2rem;
}

#bg {
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

#bg div {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
}

#menu:hover + #bg div {
    transform: scale(90);
    background-color: var(--gray);
}