:root {
    --gray: rgb(200, 200, 200);
    --dark: rgb(25, 25, 25);
}

body {
    overflow: hidden;
    margin: 0;
    background-color: var(--dark);
}

#menu {
    width: 48px;
    height: 48px;
    margin: 2rem;
}

#bg {
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

#bg div {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
}

#menu:hover + * + #bg div {
    transform: scale(90);
    background-color: var(--gray);
}

line {
    stroke: var(--gray);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}

#menu:hover line {
    stroke: var(--dark);
}

#menu:hover #rotate-left {
    transform: rotate(45deg);
}

#menu:hover #rotate-right {
    transform: rotate(-45deg);
}

#menu:hover line:first-child {
    translate: 0px 8px;
    opacity: 0;
}

#menu:hover line:last-child {
    translate: 0px -8px;
    opacity: 0;
}

#dropdown {
    opacity: 0;
    width: fit-content;
    margin-left: calc(2rem + 10px);
    color: var(--dark);
    font-family: system-ui;
    font-size: 1.2rem;
    translate: 1rem;
    transition: all 0.2s ease-in-out;
}

#menu:hover + #dropdown {
    opacity: 1;
    translate: 0;
}